
.content{
	color:white;
	position:absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -90%)
}

.p{
	color: black;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	padding: 10px;
	font-family:Arial, Helvetica, sans-serif;
	background-color: grey;
}

.header {
	background-image:url(images/HEADSHOT.jpg);
	width: 55%;
	height: 120vh;
	background-size:cover;
	background-position:center;
}

.article-title {
    color: #444444;
  }

.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }

 .article-content {
    white-space: pre-line;
  }

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.logo h3{
	margin:10px;
	color:white;
	float:left;
}

.nav ul li{
	list-style-type:none;
	color:white;
	text-align:right;
	float: right;
	padding: 10px;
}